input.form-submit.button-small {
  padding: 4px 8px;
  font-weight: bold;
}

.container-inline input.form-submit.button-small + .ajax-progress.ajax-progress-throbber .throbber {
  position: absolute;
  left: 19px;
  margin-top: 7px;
}

.container-inline input.form-submit.button-small + .ajax-progress.ajax-progress-throbber .message {
  display: none;
}
