ul.language-switcher-locale-url li {
	list-style: none;
	display: inline-block;
}

ul.language-switcher-locale-url li a {
	display: inline-block;
	width: 18px;
	height: 14px;
	overflow: hidden;
	text-indent: 50px;
}

ul.language-switcher-locale-url li a:hover {
	opacity: 0.8;
	filter: opacity(80);
}

ul.language-switcher-locale-url li a.language-active {
	opacity: 0.5;
	filter: opacity(50);
}

#toolbar ul.language-switcher-locale-url {
	display: inline-block;
	float: right;
}

#toolbar ul.language-switcher-locale-url li, #toolbar ul.language-switcher-locale-url li a {
	float: none;
}

#toolbar div.toolbar-menu ul.language-switcher-locale-url li a {
	padding: 0px;
	border-radius: 0px;
}
