/**
 * NXTE Google Maps module CSS.
 * Copyright 2014 NXTE
 */
#main-gmap {
  position: relative;
  display: block;
  height: 536px;
}
.gm-style img {
  max-width: none;
}
.gm-style label {
  width: auto;
  display: inline;
}
.gm-style > div:first-child > div:last-child > div:last-child > div:first-child {}
.gm-style-iw {
  top: 10px !important;
  left: 20px !important;
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
  font-size: 13px !important;
  font-weight: 400 !important;
  font-style: normal !important;
  line-height: 20px !important;
  color: #797979 !important;
}
.gm-style-iw > div:first-child {
  width: 100% !important;
}
.view-mode-teaser_map {
  position: relative;
  padding: 0 20px;
}
.view-mode-teaser_map h2 {
  font-size: 32px;
  font-weight: 700;
  line-height: 32px;
}
.view-mode-teaser_map a {
  text-decoration: underline;
  color: #797979;
}
.view-mode-teaser_map a:hover,
.view-mode-teaser_map a:focus {
  text-decoration: none;
  color: #0b8e36;
}
.view-mode-teaser_map .group-left,
.view-mode-teaser_map .group-right {
  position: relative;
  display: inline-block;
  float: left;
  z-index: 1;
}
.view-mode-teaser_map .group-left {
  margin-right: 30px;
}
.view-mode-teaser_map .group-right {}
.field-name-coordinator p {
  margin-bottom: 0;
  font-weight: 700 !important;
}
.view-mode-teaser_map .group-footer {
  position: relative;
  display: block;
  text-align: center;
  *zoom: 1;
  z-index: 0;
}
.view-mode-teaser_map .group-footer:before,
.view-mode-teaser_map .group-footer:after {
  display: table;
  line-height: 0;
  content: "";
  clear: both;
}
.view-mode-teaser_map .group-footer p {
  margin: 15px 0 0;
}
a.colorbox-node,
a.show-webform {
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  color: #0b8e36;
  cursor: pointer;
}

/* Buttons & Links */
.gm-style-mtc,
.gm-style-cc {
  display: none !important;
}

/* School contact form */
#block-webform-client-block-214 {
  position: absolute;
  top: 134px;
  right: 138px;
  max-width: 420px;
  color: #797979;
  background-color: #fff;
  border: 1px solid #f0f0f0;
  border-top: 9px solid #0b8e36;
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  -webkit-border-bottom-right-radius: 4px;
      -moz-border-radius-bottomright: 4px;
          border-bottom-right-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
      -moz-border-radius-bottomleft: 4px;
          border-bottom-left-radius: 4px;
}
#block-webform-client-block-214.on-small-screen {
  margin: 20px auto;
  position: relative;
  top: 0;
  left: 0;
}
@media (max-width: 420px) {
  #block-webform-client-block-214 input,
  #block-webform-client-block-214 textarea {
    max-width: 255px;
  }
}
@media (max-width: 1200px) {
  #block-webform-client-block-214 {
    margin: 20px auto;
    position: relative;
    top: 0;
    left: 0;
  }
}
#block-webform-client-block-214 .content {
  padding: 10px 40px 10px 30px;
  text-align: left;
}
#block-webform-client-block-214 h3 {
  margin-bottom: 15px;
  font-size: 30px;
  font-weight: 700;
}
#webform-client-form-214 label {
  position: absolute;
  top: 7px;
  left: 10px;
  color: #999;
}
#webform-client-form-214 label > .form-required {
  color: #f85660;
}
#block-webform-client-block-214 textarea,
#block-webform-client-block-214 input[type="text"],
#block-webform-client-block-214 input[type="password"],
#block-webform-client-block-214 input[type="datetime"],
#block-webform-client-block-214 input[type="datetime-local"],
#block-webform-client-block-214 input[type="date"],
#block-webform-client-block-214 input[type="month"],
#block-webform-client-block-214 input[type="time"],
#block-webform-client-block-214 input[type="week"],
#block-webform-client-block-214 input[type="number"],
#block-webform-client-block-214 input[type="email"],
#block-webform-client-block-214 input[type="url"],
#block-webform-client-block-214 input[type="search"],
#block-webform-client-block-214 input[type="tel"],
#block-webform-client-block-214 input[type="color"],
#block-webform-client-block-214 .uneditable-input {
  display: inline-block;
  width: 335px;
  height: 20px;
  padding: 6px;
  margin-bottom: 14px;
  vertical-align: middle;
  font-size: 14px;
  line-height: 20px;
  color: #797979;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
  -webkit-transition: border linear .2s, box-shadow linear .2s;
     -moz-transition: border linear .2s, box-shadow linear .2s;
       -o-transition: border linear .2s, box-shadow linear .2s;
          transition: border linear .2s, box-shadow linear .2s;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;

}
#block-webform-client-block-214 textarea {
  height: 70px;
  resize: none;
}
#block-webform-client-block-214 textarea:focus,
#block-webform-client-block-214 input[type="text"]:focus,
#block-webform-client-block-214 input[type="password"]:focus,
#block-webform-client-block-214 input[type="datetime"]:focus,
#block-webform-client-block-214 input[type="datetime-local"]:focus,
#block-webform-client-block-214 input[type="date"]:focus,
#block-webform-client-block-214 input[type="month"]:focus,
#block-webform-client-block-214 input[type="time"]:focus,
#block-webform-client-block-214 input[type="week"]:focus,
#block-webform-client-block-214 input[type="number"]:focus,
#block-webform-client-block-214 input[type="email"]:focus,
#block-webform-client-block-214 input[type="url"]:focus,
#block-webform-client-block-214 input[type="search"]:focus,
#block-webform-client-block-214 input[type="tel"]:focus,
#block-webform-client-block-214 input[type="color"]:focus,
#block-webform-client-block-214 .uneditable-input:focus {
  border-color: #0b8e36;
  outline: 0;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}
#block-webform-client-block-214 input[type="submit"] {
  display: inline-block;
  *display: inline;
  float: right;
  padding: 11px 29px;
  margin: 9px 0 0;
  *margin-left: .3em;
  font-size: 21px;
  font-weight: 400;
  line-height: 20px;
  color: #0b8e36;
  text-align: center;
  text-transform: uppercase;
  text-shadow: none;
  letter-spacing: 1px;
  vertical-align: middle;
  cursor: pointer;
  background-color: #fff;
  *background-color: #fff;
  background-image: none;
  border: 2px solid #0b8e36;
  *border: 0;
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
  *zoom: 1;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}
#block-webform-client-block-214 input[type="submit"]:hover,
#block-webform-client-block-214 input[type="submit"]:focus,
#block-webform-client-block-214 input[type="submit"]:active,
#block-webform-client-block-214 input[type="submit"].active,
#block-webform-client-block-214 input[type="submit"].disabled,
#block-webform-client-block-214 input[type="submit"][disabled] {
  color: #0b8e36;
  background-color: #fff;
  *background-color: #fff;
}
#block-webform-client-block-214 input[type="submit"]:active,
#block-webform-client-block-214 input[type="submit"].active {
  background-color: #fff \9;
}
#block-webform-client-block-214 input[type="submit"]:hover,
#block-webform-client-block-214 input[type="submit"]:focus {
  color: #0b8e36;
  text-decoration: none;
  background: none;
}
#block-webform-client-block-214 input[type="submit"]:focus {
  outline: 0;
}
#block-webform-client-block-214 input[type="submit"].active,
#block-webform-client-block-214 input[type="submit"]:active {
  background-image: none;
  outline: 0;
}

/* Throbber */
.ajax-progress,
.ajax-progress .throbber {
  display: none;
}

/* Messages */
div.messages {
  margin: 0 0 10px;
  padding: 10px 20px;
  background: none;
  border: 0;
}
div.status {
  background: none;
  border-color: #0b8e36;
}
div.status,
.ok {
  color: #0b8e36;
}
div.status,
table tr.ok {
  background-color: transparent;
}
div.warning {
  background: none;
  border-color: #ed5;
}
div.warning,
.warning {
  color: #840;
}
div.warning,
table tr.warning {
  background-color: transparent;
}
div.error {
  background: none;
  border: 0;
}
div.error,
.error {
  color: #8c2e0b;
}
div.error,
table tr.error {
  background-color: #fef5f1;
}
div.error p.error {
  color: #333;
}

div.messages ul {
  margin: 0 0 0 20px;
  padding: 0;
}
div.messages ul li {
  list-style-image: none;
}
