.field-name-field-cover-image-effect {
    display: none;
}
.effects-widget {
    clear: both;
    overflow: hidden;
}

.effects-widget {
    text-align: center;
    margin-top: 26px;
    clear: both;
    overflow: hidden;
}

.effects-widget .form-cancel {
    float: left;
    background: #BBB !important;
}

.effects-widget .form-apply  {
    float: right;
}

.effects-widget .effect {
    width: 46px;
    height: 46px;
    display: inline-block;
    vertical-align: top;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
.effects-widget .effect-0 {
    background-image: url("../images/icons/filter-0.png");
}

.effects-widget .effect-1 {
    background-image: url("../images/icons/filter-1.png");
}

.effects-widget .effect-2 {
    background-image: url("../images/icons/filter-2.png");
}

.effects-widget .effect-3 {
    background-image: url("../images/icons/filter-3.png");
}
.effects-widget .effect-4 {
    background-image: url("../images/icons/filter-4.png");
}
.effects-widget .effect-0.active {
    background-image: url("../images/icons/filter-active-0.png");
}

.effects-widget .effect-1.active {
    background-image: url("../images/icons/filter-active-1.png");
}

.effects-widget .effect-2.active {
    background-image: url("../images/icons/filter-active-2.png");
}

.effects-widget .effect-3.active {
    background-image: url("../images/icons/filter-active-3.png");
}

.effects-widget .effect-4.active {
    background-image: url("../images/icons/filter-active-4.png");
}