footer .flag {
  width: 32px;
  height: 32px;
  display: inline-block;
  background: #f5f5f5;
  cursor: pointer;
  position: relative;
  margin-right: 5px;
  top: 11px;
  background: transparent url(../images/flags.png) no-repeat
}
footer .flag.flag-at {
  background-position: -32px 0
}
footer .flag.flag-au {
  background-position: -64px 0
}
footer .flag.flag-ch {
  background-position: -96px 0
}
footer .flag.flag-de {
  background-position: 0 -32px
}
footer .flag.flag-fr {
  background-position: -32px -32px
}
footer .flag.flag-gb {
  background-position: -64px -32px
}
footer .flag.flag-wales {
  background-position: 0 -64px
}
footer .flag.flag-im {
  background-position: 0 -64px
}
footer .flag.flag-scott {
  background-position: -32px -64px
}
footer .flag.flag-mx {
  background-position: -64px -64px
}
footer .flag.flag-my {
  background-position: -96px -64px
}
footer .flag.flag-nz {
  background-position: 0 -96px
}
footer .flag.flag-sg {
  background-position: -32px -96px
}
footer .flag.flag-nl {
  background-position: 0 -129px
}
footer .flag.flag-be {
  background-position: -32px -129px
}
footer .flag.flag-northanirld {
  background-position: -64px -96px
}
footer .flag.flag-us {
  background-position: -96px -96px
}
footer .flag.flag-se {
  background-position: -64px -129px
}
footer .flag.flag-no {
  background-position: -96px -129px
}
footer .flag.flag-it {
  background-position: 0px -162px
}
footer .flag.flag-fi {
  background-position: -32px -162px
}
footer .flag.flag-dm {
  background-position: -64px -162px
}
footer .flag.flag-sp {
  background-position: -96px -162px
}

.site,
.site.selected {
  display: inline-block
}
.site.selected {
  border: 1px solid #4e4b4b;
  -moz-box-shadow: 5px 2px 10px rgba(0, 0, 0, 0.4);
  box-shadow: 5px 2px 10px rgba(0, 0, 0, 0.4);
  -moz-border-radius: 3px;
  border-radius: 3px;
  cursor: pointer;
  padding: -8px 3px 0;
  min-width: 156px;
  background-color: #6d6b68;
  position: relative;
  display: inline-block;
  min-height: 38px;
  text-indent: 38px;
  padding-top: 6px
}
.site.selected .flag {
  position: absolute;
  margin-right: 5px;
  top: 1px;
  left: 4px
}
span.dwn-arw {
  border-color: #909090 transparent;
  border-style: solid;
  border-width: 4px 4px 0 4px;
  width: 0;
  height: 0;
  margin-left: 5px;
  position: relative;
  top: 11px
}
footer.nd-region {
  padding: 30px 0 60px
}

.all-sites {
  background: #6d6b68;
  position: absolute;
  -moz-border-radius: 3px;
  border-radius: 3px;
  display: none;
  bottom: 38px;
  left: -195px;
  width: 368px;
  z-index:  2;
}

.all-sites ul {
  list-style-type: none
}
.all-sites ul li {
  display: inline-block;
  min-width: 181px
}
.all-sites ul li a {
  color: #c4c5c7;
  font-weight: 500;
  display: inline-block
}
footer .all-sites ul li:before {
  content: ""
}
.language-selector {
  padding: 0;
  padding-left: 40px;
}
.language-selector h3.second-title {
  margin-bottom: .6em;
  text-transform: uppercase;
  color: #fff;
  font-size: 1.12em
}
footer.nd-region {
  padding: 30px 0 30px
}
.language-selector .col-md-3 {
  padding-left: 26px;
}
.all-sites a span.country-code {
  font-size: .8em;
  text-decoration: none
}